.employeesList {
  max-width: 2400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.EmployeeList__item {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  margin: 10px;
}